.products{
    float:left;
    width:94%;
    margin-left: 3%;
    margin-right: 3%;
}
.product-pic{
    width:auto;
    height: 200px;;
}
.product-container{
    display:inline-grid;
  grid-template-columns: auto auto auto auto ;


  float:left;
  width:100%;

}
.product{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;

}
.product-description{
    max-width:280px ;
    background-color:rgb(221, 217, 154);
    border:1px solid rgb(221, 217, 154);
    border-radius: 5px;
   
    
}
