.forget{
    float:left;
    width:100%;
}
.forgetform{
    float:left;
    margin: 0 40% 0 40%;
    width: 20%;
    text-align: center;
}
.forgetform h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-style: italic;
}
.forgetform input{
    padding:5px 20px 5px 20px;
    border:1px solid grey;
    border-radius: 10px;
    margin-bottom: 10px;
}