.login{
    float:left;
    width:100%;
}
.loginform{
    float:left;
    margin: 0 40% 0 40%;
    width: 20%;
    text-align: center;
}
.loginform h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-style: italic;
}
.loginform input{
    padding:5px 20px 5px 20px;
    border:1px solid grey;
    border-radius: 10px;
    margin-bottom: 5px;
}
input.ng-touched.ng-invalid , textarea.ng-touched.ng-invalid{
    border: 1px solid darkred;
}
.loginform span{
padding-left:35px;
float:left;
font-size: small;
color:darkred;
text-align: left;
}
.loginform button{
    margin-top:10px;
}